@model IEnumerable<string>
@* IEnumerable Makes the data easy to iterate through*@

@*first link will allow user to go to home page*@
<div class="d-grid gap-2">

    <a asp-controller="Home" asp-action="DataTable" class="btn btn-outline-secondary btn-block">Home</a>

    @*Build links for each book category for the user to click on and then filter the books*@
    @foreach (string t in Model)
    {
        <a asp-controller="Home" asp-action="DataTable" asp-route-bowlerTeam="@t"
           class="btn btn-block @(ViewBag.SelectedTeam == t
            ? "btn-primary"                            @*If the category is clicked it will be a primary highlighted bootstrap button*@
            : "btn btn-outline-secondary")">@t</a> @*if the category is not selected, it will be a secondary button*@
        }

</div>