@model IEnumerable<string>

<a asp-controller="Home" asp-action="DataTable">Home</a>

<div class="d-grid gap-2">

    @foreach (string t in Model) // t for "teams" :) 
    {
        <a asp-controller="Home" asp-action="Index" asp-route-bowlerTeam="@t" 
        class="btn @(ViewBag.SelectedType == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
    }

</div>