@page "/test"
@model Bowler_MySQL.Pages.testModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Bowler Test</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>
    <p>This is a test</p>
</body>
</html>